<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        	<img src="/images/logo.png" alt="TDA-252 logo">
    </header>
    <h1>Ejemplos de Handlebars</h1>
    <h2>Handlebars demo</h2>
    {{{body}}}
</body>
</html>