<h1> {{title}}: </h1>

<div>
<table id="headers-table" >
  <thead>
    <tr>
      <th>Header key</th>
      <th>Header Value</th>
    </tr>
  </thead>
  <tbody>
    {{#if headers}}
    {{#each headers}}
      <tr>
        <td>{{@key}}</td>
        <td>{{@this}}</td>
      </tr>
    {{/each}}
    {{/if}}
  </tbody>
</table>
</div>